body {
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
}

span {
    color: rgb(223, 170, 56);
}

h3 {
    color: brown;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    color: aliceblue;
    text-decoration: none;
    background-color: blue;
    padding: 10px 40px;
    border-radius: 5px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flexible-container {
    display: flex;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 5%;
    background-position: left;
}

.experience-item {
    box-shadow: 10px 10px 15px gray;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 20px;
}